/**=======================================================================================================================
 **                                                    MAIN
 *=======================================================================================================================**/
/**========================================================================
 *                           VARIABLES
 *========================================================================**/
/**======================
   *      Brand Colors
   *========================**/
/**======================
   *      Primary
   *========================**/
/**======================
   *     Opaques 
   *========================**/
/**======================
   *      Links
   *========================**/
/**======================
   *     Font List 
   *========================**/
/**========================================================================
 *                           MEDIA BREAKPOINTS
 *========================================================================**/
/**========================================================================
 *                           Mixins
 *========================================================================**/
/**======================
   *     LAYOUT 
   *========================**/
/**======================
   *     UNIVERSAL DESIGN 
   *========================**/
/**============================================
   *              ANIMATIONS 
   *=============================================**/
/* ---------- CARD SMILE HEART POP --------- */
@keyframes heartPop {
  from {
    scale: 0;
    opacity: 1; }
  to {
    scale: 2;
    opacity: 0; } }

/* ---------- CARD NONFICTION AND FICTION SLIDING LINE --------- */
@keyframes accentLine {
  from {
    -webkit-mask-position: left; }
  to {
    -webkit-mask-position: right; } }

/* ---------- CARD MILESTONE SHAPE CONTAINER ANIMATIONS --------- */
@keyframes square-one {
  40% {
    transform: translate(-9rem, -8rem) rotate(180deg); }
  70% {
    transform: translate(-9rem, 8rem) rotate(360deg); }
  100% {
    transform: translate(0%, 0%); } }

@keyframes square-two {
  40% {
    transform: translate(9rem, 8rem) rotate(360deg); }
  70% {
    transform: translate(9rem, -8rem) rotate(720deg); }
  100% {
    transform: translate(0, 0); } }

@keyframes square-three {
  40% {
    transform: translate(-9rem, -8rem) rotate(180deg); }
  70% {
    transform: translate(-9rem, -8rem) rotate(360deg); }
  100% {
    transform: translate(0%, 0%); } }

@keyframes square-four {
  40% {
    transform: translate(9rem, 8rem) rotate(360deg); }
  70% {
    transform: translate(9rem, 8rem) rotate(720deg); }
  100% {
    transform: translate(0, 0); } }

@keyframes circle-one {
  40% {
    transform: translate(3rem, 8rem); }
  70% {
    transform: translate(3rem, -8rem); }
  100% {
    transform: translate(0, 0); } }

@keyframes circle-two {
  40% {
    transform: translate(-3rem, -8rem); }
  70% {
    transform: translate(-3rem, 8rem); }
  100% {
    transform: translate(0, 0); } }

@keyframes circle-three {
  40% {
    transform: translate(-3rem, -8rem); }
  70% {
    transform: translate(-3rem, -8rem); }
  100% {
    transform: translate(0, 0); } }

@keyframes circle-four {
  40% {
    transform: translate(3rem, 8rem); }
  70% {
    transform: translate(3rem, 8rem); }
  100% {
    transform: translate(0, 0); } }

/* ---------- CARD MILESTONE SHAPE CONTAINER ANIMATIONS --------- */
@keyframes cubeRotate {
  0% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg) scale(1); }
  40% {
    transform: rotateZ(0deg) rotateX(360deg) rotateY(360deg) scale(1); }
  50% {
    transform: rotateZ(90deg) rotateX(180deg) rotateY(180deg) scale(0.2); }
  52% {
    transform: rotateZ(90deg) rotateX(180deg) rotateY(180deg) scale(0.2); }
  65% {
    transform: rotateZ(0deg) rotateX(360deg) rotateY(360deg) scale(1); }
  85% {
    transform: rotateZ(90deg) rotateX(180deg) rotateY(180deg) scale(1); }
  100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg) scale(1); } }

/**========================================================================
 *                           BASE
 *========================================================================**/
/**============================================
   *               Reset
   *=============================================**/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  color: #333333;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 62.5%;
  overflow-x: hidden; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

/**========================================================================
 *                          MAIN GRID 
 *========================================================================**/
.grid_container {
  display: flex;
  justify-content: center;
  background-color: #2a4e6e; }

.grid {
  margin: 5rem 0;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(15rem, auto);
  column-gap: 3rem;
  row-gap: 3rem;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media (max-width: 100em) {
    .grid {
      width: 75%; } }
  @media (max-width: 62.5em) {
    .grid {
      width: 90%; } }

.grid-inner {
  display: grid;
  grid-column: 1 / 4;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  row-gap: 4rem;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media (max-width: 87.5em) {
    .grid-inner {
      grid-template-columns: 1fr; } }
  @media (max-width: 62.5em) {
    .grid-inner {
      grid-template-columns: 1fr; } }

.col {
  height: min-content;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  .col > div:not(:first-child) {
    margin-top: 4rem; }
  @media (max-width: 87.5em) {
    .col {
      width: 75%;
      margin: 0 auto;
      margin-top: 4rem; } }
  @media (max-width: 62.5em) {
    .col {
      width: 100%; } }

/**========================================================================
 *                          TOPNAV 
 *========================================================================**/
#theGreenerSide {
  position: relative; }

.topNav {
  position: relative;
  width: 100%;
  height: 10vh;
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: space-between; }
  .topNav-ddMenu--logo {
    font-weight: 300;
    font-size: 3rem;
    margin: 4rem auto 0;
    text-align: center; }
  .topNav-wrapperLeft {
    display: flex;
    align-items: center; }
  .topNav-hamMenu--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 2rem; }
  .topNav-wrapperRight {
    display: flex;
    align-items: center;
    justify-content: center; }
  .topNav-ddMenu--container {
    z-index: 1;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 30rem;
    height: 90vh;
    border-top: 2px solid #969696;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
    background-color: #333333;
    transform: translateX(-100%);
    transition: all 0.3s;
    /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
    /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
    /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
    /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
    /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
    /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
    /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
    @media (max-width: 53.125em) {
      .topNav-ddMenu--container {
        width: 100%; } }
  .topNav-ddMenu--allLinksContainer {
    margin: 5rem 0; }
    .topNav-ddMenu--allLinksContainer > div:not(:first-child) {
      margin-top: 2rem; }
  .topNav-ddMenu--header {
    width: 100%;
    text-decoration: underline;
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 300; }
  .topNav-ddMenu--btnContact {
    background-color: #5a5a5a;
    color: white;
    font-size: 2rem;
    font-weight: 300;
    width: 100%;
    border: none;
    padding: 1rem;
    transition: background-color 0.3s;
    cursor: pointer; }
    .topNav-ddMenu--btnContact:hover {
      background-color: #fc3b3b; }
  .topNav-ddMenu--linkContainer {
    position: relative;
    height: 4.5rem;
    width: 100%;
    background-color: #5a5a5a;
    transform: translateY(0);
    transition: transform 0.3s;
    transition-delay: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .topNav-ddMenu--ddArrowContainer {
    position: absolute;
    top: 0;
    right: 0;
    height: 2rem;
    width: 2rem;
    margin: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .topNav-ddMenu--listContainer {
    position: absolute;
    width: 90%;
    opacity: 0;
    transition: opacity 0.3s;
    transition-delay: 0.3s; }
    .topNav-ddMenu--listContainer > div:not(:first-child) {
      margin-top: 1rem; }
  .topNav-ddMenu--miniListContainer {
    position: absolute;
    padding: 1rem;
    top: 50%;
    right: -20%;
    background-color: #464646;
    transform: translateY(-50%);
    opacity: 1;
    transition: opacity 0.3s;
    transition-delay: 0.3s; }
    .topNav-ddMenu--miniListContainer > div:not(:first-child) {
      margin-top: 1rem; }
  .topNav-ddMenu--listLinkContainer {
    padding: 0 0.5rem;
    height: min-content;
    background-color: #7d7d7d;
    display: flex;
    align-items: center;
    border-radius: 2px;
    transition: background-color 0.3s;
    cursor: pointer; }
    .topNav-ddMenu--listLinkContainer:hover {
      z-index: 2;
      background-color: #fc3b3b; }
  .topNav-ddMenu--logoutContainer {
    transform: translateY(0);
    transition: transform 0.3s;
    transition-delay: 0.3s;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

#ddArrow-theGreenerSide {
  position: relative;
  left: 2.5rem;
  transform: rotateZ(-90deg); }

.topNav {
  position: relative; }
  .topNav-hamMenu--line {
    height: 2px;
    width: 3.5rem;
    background-color: white;
    opacity: 1;
    transform: rotate(0) translateY(0);
    transition: all 0.3s; }
    .topNav-hamMenu--line:nth-child(2) {
      margin: 1rem 0; }
  .topNav-title--text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem; }
  .topNav-link {
    font-size: 2rem;
    margin-right: 2rem; }

.topNav-ddMenu--link {
  font-size: 2rem; }

.topNav-ddMenu--logoutBtn {
  font-size: 2rem;
  padding: 1rem 4rem;
  border-radius: 5px;
  background-color: #fc3b3b; }

.topNav-ddMenu--ddArrow {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: transform 0.3s;
  transform: rotateZ(-90deg); }
  .topNav-ddMenu--ddArrow--shortStories {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: transform 0.3s;
    transform: rotateY(180deg); }

.topNav-ddMenu--categoryLink {
  color: white;
  font-size: 1.6rem;
  margin-left: 1rem;
  padding: 0.5rem 0; }

.miniLink {
  color: white;
  font-size: 1.6rem;
  margin-left: 0rem;
  padding: 0.5rem 0; }

.show {
  transform: translateX(0); }

.z-index-10 {
  z-index: 10; }

.position-absolute {
  position: absolute; }

.translateY-100 {
  transform: translateY(180%); }

.translateY-550 {
  transform: translateY(550%); }

.translateY-800 {
  transform: translateY(800%); }

.translateY-1600 {
  transform: translateY(1600%); }

.opacity-1 {
  opacity: 1; }

.hamHide {
  opacity: 0; }

.hamSlide1 {
  transform: rotate(45deg) translateY(16px); }

.hamSlide2 {
  transform: rotate(-45deg) translateY(-17px); }

.rotateX-180 {
  transform: rotateX(180deg); }

.rotateZ-90 {
  transform: rotateZ(90deg); }

.height-125vh {
  height: 125vh; }

.creativeNonfiction-content {
  height: 100vh; }

.list-settings {
  background-color: #464646;
  transform: translateX(80%);
  top: 0%;
  padding: 2rem;
  width: 40rem; }

.list-shortStories {
  left: 50%;
  transform: translateX(-50%); }

.list-header {
  font-size: 1.8rem;
  text-decoration: underline;
  font-weight: 300;
  text-align: center; }

/**========================================================================
 *                          CARD_STYLE1 
 *========================================================================**/
/**============================================
   *     Universal Card Specs -- Chocolate & Cream 
   *==============================================**/
.gridCard-universal.show {
  transform: translateY(0); }

.gridCard-universal {
  border-radius: 15px;
  overflow: hidden;
  transform: translateY(50%);
  transition: all 0.3s; }
  .gridCard-universal:hover {
    transform: scale(1); }

.contentCard-universal > * {
  margin: 2rem 0; }

.cardChocolate-tag {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 5px; }

.cardChocolate-h2 {
  font-size: 3rem;
  font-weight: 300;
  color: white; }

.cardChocolate-text {
  font-size: 1.8rem;
  color: white; }

.cardChocolate-btn {
  font-size: 1.5rem;
  color: white;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  border: 2px solid white;
  cursor: pointer;
  transition: background-color 0.3s; }
  .cardChocolate-btn:hover {
    background-color: #646464; }

.cardCream-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .cardCream-wrapper > * {
    margin: 1rem 0; }

.cardCream-tag {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 5px; }

.cardCream-h2 {
  font-size: 3rem;
  font-weight: 300;
  text-align: center; }

.cardCream-text {
  font-size: 1.8rem; }

.cardCream-btn {
  font-size: 1.5rem;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  border: 2px solid #333333;
  background-color: #ffd1aa;
  cursor: pointer; }

.borderColorOrange {
  border: 1px solid rgba(255, 145, 0, 0.5); }

.borderColorYellow {
  border: 1px solid #fde440; }

.borderColorGreen {
  border: 1px solid #56d270; }

.borderColorBlue {
  border: 1px solid #73b0fb; }

.designLine-top {
  height: 100%;
  width: 100%;
  border-radius: 10%;
  position: absolute;
  bottom: 96%; }

.designLine-bottom {
  height: 100%;
  width: 100%;
  border-radius: 10%;
  position: absolute;
  top: 96%; }

.designLine-right {
  height: 100%;
  width: 100%;
  border-radius: 10%;
  position: absolute;
  left: 95%; }

.designLine-left {
  height: 100%;
  width: 100%;
  border-radius: 10%;
  position: absolute;
  right: 95%; }

/**========================================================================
 *                          CARD_HEADER 
 *========================================================================**/
.card_header {
  grid-column: 1 / 4;
  grid-row: 1 / 5;
  background-color: #ffd1aa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden; }

.card_header-contentContainer {
  height: 90%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between; }

.card_header-tag {
  background-color: #ff9100; }

.card_header-mainHead {
  font-family: "Space Mono", monospace;
  font-size: 17rem;
  font-weight: 300;
  letter-spacing: 3px;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media (max-width: 75em) {
    .card_header-mainHead {
      font-size: 10rem; } }
  @media (max-width: 62.5em) {
    .card_header-mainHead {
      font-size: 7rem; } }
  @media (max-width: 53.125em) {
    .card_header-mainHead {
      font-size: 5rem; } }

.card_header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media (max-width: 62.5em) {
    .card_header-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .card_header-wrapper > * {
        margin: 2rem 0; } }

.card_header-subHead {
  font-size: 4rem;
  font-weight: 300;
  padding-right: 1rem;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media (max-width: 62.5em) {
    .card_header-subHead {
      font-size: 3rem; } }

.card_header-text {
  font-size: 1.7rem;
  width: 50%;
  padding-left: 1rem;
  border-left: 1px solid #333333;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media (max-width: 62.5em) {
    .card_header-text {
      width: 80%; } }

.card_header-btn--wrapper {
  background-color: #646464;
  border-radius: 40px;
  border: none;
  overflow: hidden;
  box-shadow: 2px 2px 10px #494949;
  transition: transform 0.1s;
  transform: translateY(0); }
  .card_header-btn--wrapper:hover {
    transform: translateY(-2px); }

.card_header-btn {
  background-color: #333333;
  border-radius: 40px;
  border: none;
  overflow: hidden;
  color: #ffd1aa;
  padding: 1rem 2.2rem;
  cursor: pointer;
  animation: accentLine 3s infinite reverse;
  mask: linear-gradient(150deg, #fff 50%, rgba(0, 0, 0, 0.5), #fff 55%) right/300% 100%;
  -webkit-mask: linear-gradient(150deg, #fff 50%, rgba(0, 0, 0, 0.5), #fff 55%) right/300% 100%; }

/**========================================================================
 *                          CARD_FOOTER 
 *========================================================================**/
.card_footer {
  grid-column: 1 / 4;
  background-color: #ffd1aa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px; }

.card_footer-contentContainer {
  width: 85%;
  font-size: 1.9rem; }

/**========================================================================
 *                          CARD FOUNDER
 *========================================================================**/
.card_founder {
  height: min-content;
  position: relative;
  background-color: rgba(47, 193, 250, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card_founder-contentContainer {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card_founder-tag {
  background-color: #ff9100; }

.card_founder-icon {
  width: 4rem;
  cursor: pointer;
  margin: 0 1rem; }

/**========================================================================
 *                          CARD SMILE
 *========================================================================**/
.card_smile {
  position: relative;
  height: 50rem;
  background-color: #ffd1aa;
  background-image: url(../img/bob_smile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.card_smile-contentContainer {
  height: 100%; }

.card-heart {
  display: inline;
  color: #fc3b3b;
  font-size: 3rem; }
  .card-heart-h2 {
    font-size: 3rem;
    font-weight: 300;
    user-select: none; }
  .card-heartLikeCount {
    color: #333333;
    font-size: 3rem; }
  .card-heart-pop {
    font-size: 3rem;
    position: absolute;
    animation: heartPop 2s;
    scale: 0; }

/**========================================================================
 *                          CARD FORM
 *========================================================================**/
.card_form {
  height: min-content;
  background-color: #ffd1aa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card_form-tag {
  background-color: #d8aefd; }

.card_form-contentContainer {
  width: 85%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.card-form {
  width: 100%; }
  .card-form > input {
    margin-bottom: 1rem; }
  .card-form--label {
    display: block;
    font-size: 1.8rem; }
  .card-form--inputName {
    border: 1px solid #433e3c;
    height: 2.5rem;
    width: 90%; }
  .card-form--email {
    border: 1px solid #433e3c;
    height: 2.5rem;
    width: 90%; }
  .card-form--inputMessage {
    border: 1px solid #433e3c;
    height: 7rem;
    width: 90%; }

/**========================================================================
 *                          CARD MILESTONE
 *========================================================================**/
.card_milestone {
  cursor: pointer;
  background-color: #ffd1aa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card_milestone-contentContainer {
  width: 85%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.card_milestone-tag {
  background-color: #f88585; }

/* ---------- SHAPE CONTAINER --------- */
.card-shapeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 20rem;
  width: 100%;
  border-radius: 15px;
  background-color: #433e3c; }

.card-square-left {
  position: absolute;
  left: 30%;
  width: 3rem;
  height: 3rem;
  background-color: #ffd1aa;
  margin: 1rem; }

.card-square-right {
  position: absolute;
  right: 30%;
  width: 3rem;
  height: 3rem;
  background-color: #ffd1aa;
  margin: 1rem; }

.card-circle {
  position: absolute;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #ffd1aa;
  margin: 2rem; }

.square-one {
  animation: square-one 6s ease-in-out infinite; }

.square-two {
  animation: square-two 6s ease-in-out infinite; }

.square-three {
  animation: square-three 6s ease-in-out infinite; }

.square-four {
  animation: square-four 6s ease-in-out infinite; }

.circle-one {
  animation: circle-one 6s ease-in-out infinite; }

.circle-two {
  animation: circle-two 6s ease-in-out infinite; }

.circle-three {
  animation: circle-three 6s ease-in-out infinite; }

.circle-four {
  animation: circle-four 6s ease-in-out infinite; }

/**========================================================================
 *                          CARD NONFICTION
 *========================================================================**/
.card_nonfiction {
  position: relative;
  height: min-content;
  background-color: #544c49;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: accentLine 6s infinite reverse;
  mask: linear-gradient(90deg, #fff 50%, rgba(0, 0, 0, 0.8), #fff 55%) right/300% 100%;
  -webkit-mask: linear-gradient(90deg, #fff 50%, rgba(0, 0, 0, 0.8), #fff 55%) right/300% 100%; }

.card_nonfiction-contentContainer {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card_nonfiction-tag {
  background-color: #fde440; }

/**========================================================================
 *                          CARD FICTION
 *========================================================================**/
.card_fiction {
  position: relative;
  background-color: #544c49;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: accentLine 6s infinite reverse;
  mask: linear-gradient(90deg, #fff 50%, rgba(0, 0, 0, 0.8), #fff 55%) right/300% 100%;
  -webkit-mask: linear-gradient(90deg, #fff 50%, rgba(0, 0, 0, 0.8), #fff 55%) right/300% 100%; }

.card_fiction-contentContainer {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card_fiction-tag {
  background-color: #56d270; }

/**========================================================================
 *                          CARD FREELANCE
 *========================================================================**/
.card_freelance {
  position: relative;
  background-color: #ffd1aa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card_freelance-tag {
  background-color: #73b0fb; }

.card_freelance-contentContainer {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card-iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 100%;
  border-radius: 15px;
  overflow: hidden; }

.card-icon {
  width: 10rem;
  height: auto; }

/**========================================================================
 *                          CARD APP
 *========================================================================**/
.card_app {
  background-color: #ffd1aa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card_app-contentContainer {
  width: 85%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.card_app-tag {
  background-color: #5fffea; }

.card-cubeContainer {
  padding: 2rem 0;
  perspective: 1000px;
  perspective-origin: 50% 50%; }

.card-cube {
  position: relative;
  height: 10rem;
  width: 10rem;
  animation: cubeRotate 25s infinite linear;
  transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d; }
  .card-cube div {
    position: absolute;
    box-sizing: border-box;
    padding: 1rem;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    border: 1px solid white;
    color: #e9e9e9; }
  .card-cube--front {
    background-color: #fc3b3b;
    transform: translateZ(50px); }
  .card-cube--back {
    background-color: #73b0fb;
    transform: translateZ(-50px) rotateY(180deg); }
  .card-cube--top {
    background-color: #113619;
    transform: rotateX(-270deg) translateY(-50px);
    transform-origin: top center; }
  .card-cube--bottom {
    background-color: #e973fb;
    transform: rotateX(270deg) translateY(50px);
    transform-origin: bottom center; }
  .card-cube--left {
    background-color: #333333;
    transform: rotateY(270deg) translateX(-50px);
    transform-origin: center left; }
  .card-cube--right {
    background-color: #fde440;
    transform: rotateY(-270deg) translateX(50px);
    transform-origin: top right; }

/**========================================================================
 *                          CARD CLOCK 
 *========================================================================**/
.backgroundColor-cream {
  background-color: #ffd1aa; }

.backgroundColor-black {
  background-color: #333333; }

.backgroundColor-white {
  background-color: white; }

.color-white {
  color: white; }

.borderColor-white {
  border: 1px solid white; }

.borderColor-black {
  border: 2px solid #333333; }

.card_clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card_clock-contentContainer {
  width: 85%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.card_clock-clockContainer {
  position: relative;
  width: 100%;
  height: 20rem; }

.card_clock-tag {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  background-color: #f88585; }

.card_clock-btn {
  font-size: 1.5rem;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  background-color: inherit;
  cursor: pointer; }

.card_clock-timeDisplay {
  font-size: 5rem; }

.card_clock-dateDisplay {
  font-size: 2rem; }

.card_clock-needle {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 95px;
  width: 3px;
  transform-origin: bottom center;
  transition: all 0.5s ease-in; }

.card_clock-center {
  background-color: #fc3b3b;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%; }

/**========================================================================
 *                          CREATIVE NONFICTION 
 *========================================================================**/
.creativeNonfiction-landing {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/rob_hat.jpg");
  background-size: cover; }

.title-container {
  position: absolute;
  bottom: 45%;
  left: 4rem; }

.title-mainHead {
  color: white;
  font-size: 8rem; }

.title-authorHead {
  color: white;
  font-size: 3.5rem; }

.title-btn {
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  border-radius: 15px; }
