/**=======================================================================================================================
 **                                                    MAIN
 *=======================================================================================================================**/
/**========================================================================
 *                           VARIABLES
 *========================================================================**/
/**======================
   *      Brand Colors
   *========================**/
/**======================
   *      Primary
   *========================**/
/**======================
   *      Links
   *========================**/
/**============================================
   *     Universal Card Specs -- Chocolate & Cream 
   *==============================================**/
/**======================
   *     Card Smile 
   *========================**/
/**======================
   *     Font List 
   *========================**/
/**========================================================================
 *                           MEDIA BREAKPOINTS
 *========================================================================**/
/**========================================================================
 *                           Mixins
 *========================================================================**/
/**============================================
   *              ANIMATIONS 
   *=============================================**/
/* ---------- HEART POP --------- */
@keyframes heartPop {
  from {
    scale: 0;
    opacity: 1; }
  to {
    scale: 2;
    opacity: 0; } }

/* ---------- SHAPE CONTAINER --------- */
.square-one {
  animation: square-one 6s ease-in-out infinite; }

.square-two {
  animation: square-two 6s ease-in-out infinite; }

.square-three {
  animation: square-three 6s ease-in-out infinite; }

.square-four {
  animation: square-four 6s ease-in-out infinite; }

.circle-one {
  animation: circle-one 6s ease-in-out infinite; }

.circle-two {
  animation: circle-two 6s ease-in-out infinite; }

.circle-three {
  animation: circle-three 6s ease-in-out infinite; }

.circle-four {
  animation: circle-four 6s ease-in-out infinite; }

@keyframes square-one {
  40% {
    transform: translate(-9rem, -8rem) rotate(180deg); }
  70% {
    transform: translate(-9rem, 8rem) rotate(360deg); }
  100% {
    transform: translate(0%, 0%); } }

@keyframes square-two {
  40% {
    transform: translate(9rem, 8rem) rotate(360deg); }
  70% {
    transform: translate(9rem, -8rem) rotate(720deg); }
  100% {
    transform: translate(0, 0); } }

@keyframes square-three {
  40% {
    transform: translate(-9rem, -8rem) rotate(180deg); }
  70% {
    transform: translate(-9rem, -8rem) rotate(360deg); }
  100% {
    transform: translate(0%, 0%); } }

@keyframes square-four {
  40% {
    transform: translate(9rem, 8rem) rotate(360deg); }
  70% {
    transform: translate(9rem, 8rem) rotate(720deg); }
  100% {
    transform: translate(0, 0); } }

@keyframes circle-one {
  40% {
    transform: translate(3rem, 8rem); }
  70% {
    transform: translate(3rem, -8rem); }
  100% {
    transform: translate(0, 0); } }

@keyframes circle-two {
  40% {
    transform: translate(-3rem, -8rem); }
  70% {
    transform: translate(-3rem, 8rem); }
  100% {
    transform: translate(0, 0); } }

@keyframes circle-three {
  40% {
    transform: translate(-3rem, -8rem); }
  70% {
    transform: translate(-3rem, -8rem); }
  100% {
    transform: translate(0, 0); } }

@keyframes circle-four {
  40% {
    transform: translate(3rem, 8rem); }
  70% {
    transform: translate(3rem, 8rem); }
  100% {
    transform: translate(0, 0); } }

/**========================================================================
 *                           BASE
 *========================================================================**/
/**============================================
   *               Reset
   *=============================================**/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  background: white;
  color: #333333;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 62.5%;
  overflow-x: hidden; }

a {
  color: #0000ee;
  text-decoration: none; }

/**========================================================================
 *                          MAIN GRID 
 *========================================================================**/
.grid_container {
  display: flex;
  justify-content: center;
  background-color: #2a4e6e; }

.grid {
  margin: 5rem 0;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(15rem, auto);
  column-gap: 3rem;
  row-gap: 3rem;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media (max-width: 100em) {
    .grid {
      width: 75%; } }
  @media (max-width: 62.5em) {
    .grid {
      width: 90%; } }

.grid-inner {
  display: grid;
  grid-column: 1 / 4;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media (max-width: 87.5em) {
    .grid-inner {
      grid-template-columns: 1fr; } }
  @media (max-width: 62.5em) {
    .grid-inner {
      grid-template-columns: 1fr; } }

.col1 {
  height: min-content;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  .col1 > div:not(:first-child) {
    margin-top: 4rem; }
  @media (max-width: 87.5em) {
    .col1 {
      width: 75%;
      margin: 0 auto;
      margin-top: 4rem; } }
  @media (max-width: 62.5em) {
    .col1 {
      width: 100%; } }

.col2 {
  height: min-content;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  .col2 > div:not(:first-child) {
    margin-top: 4rem; }
  @media (max-width: 87.5em) {
    .col2 {
      width: 75%;
      margin: 0 auto;
      margin-top: 4rem; } }
  @media (max-width: 62.5em) {
    .col2 {
      width: 100%; } }

.col3 {
  height: min-content;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  .col3 > div:not(:first-child) {
    margin-top: 4rem; }
  @media (max-width: 87.5em) {
    .col3 {
      width: 75%;
      margin: 0 auto;
      margin-top: 4rem; } }
  @media (max-width: 62.5em) {
    .col3 {
      width: 100%; } }

/**========================================================================
 *                          GRID & CONTAINER PROPERTIES
 *========================================================================**/
/* ---------- GRID PROPERTIES ---------- */
/* ---------- HEADER ---------- */
.card_header {
  grid-column: 1 / 4;
  grid-row: 1 / 5;
  background-color: #ffd1aa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card_header-contentContainer {
  height: 90%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between; }

/* ---------- STYLE 1 ---------- */
.card_style1 {
  height: min-content;
  position: relative;
  background-color: #433e3c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card_style1-contentContainer {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/* ---------- STYLE 2 ---------- */
.card_style2 {
  height: 50rem;
  background-color: #ffd1aa;
  background-image: url(../img/bob_smile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card_style2-contentContainer {
  position: relative;
  height: 100%; }

/* ---------- STYLE 3 ---------- */
.card_style3 {
  height: min-content;
  background-color: #ffd1aa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card_style3-contentContainer {
  width: 85%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center; }

/* ---------- STYLE 4 ---------- */
.card_style4 {
  cursor: pointer;
  background-color: #ffd1aa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card_style4-contentContainer {
  width: 85%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center; }

/* ---------- STYLE 5 ---------- */
.card_style5 {
  position: relative;
  height: min-content;
  background-color: #544c49;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card_style5-contentContainer {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/* ---------- STYLE 6 ---------- */
.card_style6 {
  position: relative;
  background-color: #544c49;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card_style6-contentContainer {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/* ---------- STYLE 7 ---------- */
.card_style7 {
  position: relative;
  background-color: #ffd1aa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card_style7-contentContainer {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/* ---------- FOOTER ---------- */
.card_footer {
  grid-column: 1 / 4;
  background-color: #ffd1aa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card_footer-contentContainer {
  width: 85%;
  font-size: 1.9rem; }

/**========================================================================
 *                          CARD_STYLE1 
 *========================================================================**/
.gridCard-universal.show {
  transform: translateY(0); }

.gridCard-universal {
  border-radius: 15px;
  overflow: hidden;
  transform: translateY(50%);
  transition: all 0.3s; }

.contentCard-universal > * {
  margin: 2rem 0; }

.cardChocolate-tag {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 5px; }
  .cardChocolate-tag--founder {
    background-color: #ff9100; }
  .cardChocolate-tag--fiction {
    background-color: #56d270; }
  .cardChocolate-tag--nonfiction {
    background-color: #fde440; }

.cardChocolate-h2 {
  font-size: 3rem;
  font-weight: 300;
  color: white; }

.cardChocolate-text {
  font-size: 1.8rem;
  color: white; }

.cardChocolate-btn {
  font-size: 1.5rem;
  color: white;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  border: 2px solid white;
  cursor: pointer; }

.cardCream-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .cardCream-wrapper > * {
    margin: 1rem 0; }

.cardCream-tag {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 5px; }
  .cardCream-tag--form {
    background-color: #d8aefd; }
  .cardCream-tag--header {
    background-color: #ff9100; }
  .cardCream-tag--freelance {
    background-color: #73b0fb; }
  .cardCream-tag--timeInYear {
    background-color: #f88585; }

.cardCream-h2 {
  font-size: 3rem;
  font-weight: 300; }

.cardCream-text {
  font-size: 1.8rem; }

.cardCream-btn {
  font-size: 1.5rem;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  border: 2px solid #333333;
  background-color: #ffd1aa;
  cursor: pointer; }

/**========================================================================
 *                          INDIVIDUAL CARD STYLES
 *========================================================================**/
.card-form {
  width: 100%; }
  .card-form > input {
    margin-bottom: 1rem; }
  .card-form--label {
    display: block;
    font-size: 1.8rem; }
  .card-form--inputName {
    border: 1px solid #433e3c;
    height: 2.5rem;
    width: 90%; }
  .card-form--email {
    border: 1px solid #433e3c;
    height: 2.5rem;
    width: 90%; }
  .card-form--inputMessage {
    border: 1px solid #433e3c;
    height: 7rem;
    width: 90%; }

.card-heart {
  display: inline;
  color: #fc3b3b;
  font-size: 3rem;
  position: relative; }
  .card-heart-h2 {
    font-size: 3rem;
    font-weight: 300; }
  .card-heartLikeCount {
    color: #333333;
    font-size: 3rem; }
  .card-heart-pop {
    font-size: 3rem;
    position: absolute;
    animation: heartPop 2s;
    scale: 0; }

.card-shapeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 100%;
  border-radius: 15px;
  background-color: #433e3c; }

.card-square-left {
  position: absolute;
  left: 30%;
  width: 3rem;
  height: 3rem;
  background-color: #ffd1aa;
  margin: 2rem; }

.card-square-right {
  position: absolute;
  right: 30%;
  width: 3rem;
  height: 3rem;
  background-color: #ffd1aa;
  margin: 2rem; }

.card-circle {
  position: absolute;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #ffd1aa;
  margin: 2rem; }

.card-iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 100%;
  border-radius: 15px;
  overflow: hidden; }

.card-icon {
  width: 10rem;
  height: auto; }

.borderColorOrange {
  border: 1px solid #ff9100; }

.borderColorYellow {
  border: 1px solid #fde440; }

.borderColorGreen {
  border: 1px solid #56d270; }

.borderColorBlue {
  border: 1px solid #73b0fb; }

.designLine-top {
  height: 100%;
  width: 100%;
  border-radius: 10%;
  position: absolute;
  bottom: 96%; }

.designLine-bottom {
  height: 100%;
  width: 100%;
  border-radius: 10%;
  position: absolute;
  top: 96%; }

.designLine-right {
  height: 100%;
  width: 100%;
  border-radius: 10%;
  position: absolute;
  left: 95%; }

.designLine-left {
  height: 100%;
  width: 100%;
  border-radius: 10%;
  position: absolute;
  right: 95%; }

/**========================================================================
 *                          CARD_HEADER 
 *========================================================================**/
.card_header {
  border-radius: 15px;
  overflow: hidden; }

.card_header-mainHead {
  font-family: "Space Mono", monospace;
  font-size: 17rem;
  font-weight: 300;
  letter-spacing: 3px;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media (max-width: 75em) {
    .card_header-mainHead {
      font-size: 10rem; } }
  @media (max-width: 62.5em) {
    .card_header-mainHead {
      font-size: 7rem; } }
  @media (max-width: 53.125em) {
    .card_header-mainHead {
      font-size: 5rem; } }

.card_header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media (max-width: 62.5em) {
    .card_header-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .card_header-wrapper > * {
        margin: 2rem 0; } }

.card_header-subHead {
  font-size: 4rem;
  font-weight: 300;
  padding-right: 1rem;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media (max-width: 62.5em) {
    .card_header-subHead {
      font-size: 3rem; } }

.card_header-text {
  font-size: 1.5rem;
  width: 50%;
  padding-left: 1rem;
  border-left: 1px solid #333333;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1600) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media (max-width: 62.5em) {
    .card_header-text {
      width: 80%; } }

.card_header-btn--wrapper {
  background-color: #646464;
  border-radius: 40px;
  border: none;
  overflow: hidden;
  box-shadow: 2px 2px 10px #494949;
  transition: transform 0.1s;
  transform: translateY(0); }
  .card_header-btn--wrapper:hover {
    transform: translateY(-2px); }

.card_header-btn {
  background-color: #333333;
  border-radius: 40px;
  border: none;
  overflow: hidden;
  color: #ffd1aa;
  padding: 1rem 2.2rem;
  cursor: pointer;
  animation: lightBar 3s infinite reverse;
  mask: linear-gradient(150deg, #fff 50%, rgba(0, 0, 0, 0.5), #fff 55%) right/300% 100%;
  -webkit-mask: linear-gradient(150deg, #fff 50%, rgba(0, 0, 0, 0.5), #fff 55%) right/300% 100%; }

@keyframes lightBar {
  from {
    -webkit-mask-position: left; }
  to {
    -webkit-mask-position: right; } }

/**========================================================================
 *                          CARD_FOOTER 
 *========================================================================**/
.card_footer {
  border-radius: 15px; }
