/**============================================
   *              ANIMATIONS 
   *=============================================**/

/* ---------- CARD SMILE HEART POP --------- */
@keyframes heartPop {
  from {
    scale: 0;
    opacity: 1;
  }
  to {
    scale: 2;
    opacity: 0;
  }
}

/* ---------- CARD NONFICTION AND FICTION SLIDING LINE --------- */
@keyframes accentLine {
  from {
    -webkit-mask-position: left;
  }
  to {
    -webkit-mask-position: right;
  }
}

/* ---------- CARD MILESTONE SHAPE CONTAINER ANIMATIONS --------- */
@keyframes square-one {
  40% {
    transform: translate(-9rem, -8rem) rotate(180deg);
  }

  70% {
    transform: translate(-9rem, 8rem) rotate(360deg);
  }

  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes square-two {
  40% {
    transform: translate(9rem, 8rem) rotate(360deg);
  }

  70% {
    transform: translate(9rem, -8rem) rotate(720deg);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes square-three {
  40% {
    transform: translate(-9rem, -8rem) rotate(180deg);
  }

  70% {
    transform: translate(-9rem, -8rem) rotate(360deg);
  }

  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes square-four {
  40% {
    transform: translate(9rem, 8rem) rotate(360deg);
  }

  70% {
    transform: translate(9rem, 8rem) rotate(720deg);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes circle-one {
  40% {
    transform: translate(3rem, 8rem);
  }

  70% {
    transform: translate(3rem, -8rem);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes circle-two {
  40% {
    transform: translate(-3rem, -8rem);
  }

  70% {
    transform: translate(-3rem, 8rem);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes circle-three {
  40% {
    transform: translate(-3rem, -8rem);
  }

  70% {
    transform: translate(-3rem, -8rem);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes circle-four {
  40% {
    transform: translate(3rem, 8rem);
  }

  70% {
    transform: translate(3rem, 8rem);
  }

  100% {
    transform: translate(0, 0);
  }
}

/* ---------- CARD MILESTONE SHAPE CONTAINER ANIMATIONS --------- */
@keyframes cubeRotate {
  0% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg) scale(1);
  }
  40% {
    transform: rotateZ(0deg) rotateX(360deg) rotateY(360deg) scale(1);
  }
  50% {
    transform: rotateZ(90deg) rotateX(180deg) rotateY(180deg) scale(0.2);
  }
  //Cube Pause
  52% {
    transform: rotateZ(90deg) rotateX(180deg) rotateY(180deg) scale(0.2);
  }
  65% {
    transform: rotateZ(0deg) rotateX(360deg) rotateY(360deg) scale(1);
  }
  85% {
    transform: rotateZ(90deg) rotateX(180deg) rotateY(180deg) scale(1);
  }
  100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg) scale(1);
  }
}
