/**============================================
   *              ANIMATIONS 
   *=============================================**/

/* ---------- HEART POP --------- */

@keyframes heartPop {
  from {
    scale: 0;
    opacity: 1;
  }
  to {
    scale: 2;
    opacity: 0;
  }
}
/* ---------- SHAPE CONTAINER --------- */
.square-one {
  animation: square-one 6s ease-in-out infinite;
}
.square-two {
  animation: square-two 6s ease-in-out infinite;
}
.square-three {
  animation: square-three 6s ease-in-out infinite;
}
.square-four {
  animation: square-four 6s ease-in-out infinite;
}

.circle-one {
  animation: circle-one 6s ease-in-out infinite;
}
.circle-two {
  animation: circle-two 6s ease-in-out infinite;
}
.circle-three {
  animation: circle-three 6s ease-in-out infinite;
}
.circle-four {
  animation: circle-four 6s ease-in-out infinite;
}
@keyframes square-one {
  40% {
    transform: translate(-9rem, -8rem) rotate(180deg);
  }

  70% {
    transform: translate(-9rem, 8rem) rotate(360deg);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes square-two {
  40% {
    transform: translate(9rem, 8rem) rotate(360deg);
  }

  70% {
    transform: translate(9rem, -8rem) rotate(720deg);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes square-three {
  40% {
    transform: translate(-9rem, -8rem) rotate(180deg);
  }

  70% {
    transform: translate(-9rem, -8rem) rotate(360deg);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes square-four {
  40% {
    transform: translate(9rem, 8rem) rotate(360deg);
  }

  70% {
    transform: translate(9rem, 8rem) rotate(720deg);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes circle-one {
  40% {
    transform: translate(3rem, 8rem);
  }

  70% {
    transform: translate(3rem, -8rem);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes circle-two {
  40% {
    transform: translate(-3rem, -8rem);
  }

  70% {
    transform: translate(-3rem, 8rem);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes circle-three {
  40% {
    transform: translate(-3rem, -8rem);
  }

  70% {
    transform: translate(-3rem, -8rem);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes circle-four {
  40% {
    transform: translate(3rem, 8rem);
  }

  70% {
    transform: translate(3rem, 8rem);
  }

  100% {
    transform: translate(0, 0);
  }
}
