/**========================================================================
 *                          CARD_FOOTER 
 *========================================================================**/

.card_footer {
  grid-column: 1 / 4;
  background-color: $color-cream;
  @include center_flex_column;
  border-radius: 15px;
}

.card_footer-contentContainer {
  width: 85%;
  font-size: 1.9rem;
}
