/**========================================================================
 *                          INDIVIDUAL CARD STYLES
 *========================================================================**/

// ----- CARD FORM ----- //
.card-form {
  width: 100%;

  > input {
    margin-bottom: 1rem;
  }

  &--label {
    display: block;
    font-size: $fontSize--text;
  }

  &--inputName {
    border: 1px solid $color-chocolate;
    height: 2.5rem;
    width: 90%;
  }

  &--email {
    border: 1px solid $color-chocolate;
    height: 2.5rem;
    width: 90%;
  }

  &--inputMessage {
    border: 1px solid $color-chocolate;
    height: 7rem;
    width: 90%;
  }
}

// ----- CARD SMILE ----- //

.card-heart {
  display: inline;
  color: $color-red;
  font-size: $fontSize-smile;

  &-h2 {
    font-size: $fontSize-smile;
    font-weight: $fontWeight--h2;
  }

  &LikeCount {
    color: $color-black;
    font-size: $fontSize-smile;
  }
}

// ----- CARD TIME DISPLAY ----- //

.card-shapeContainer {
  @include center_flex_row;
  height: 20rem;
  width: 100%;
  border-radius: 15px;
  background-color: $color-chocolate;
}

.card-square {
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: $color-cream;
  margin: 2rem;
}

.card-circle {
  position: relative;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: $color-cream;
  margin: 2rem;
}

.square-one {
  animation: square-one 5s infinite;
}
.square-two {
  animation: square-two 5s infinite;
}

.circle {
  animation: circle 5s infinite;
}

// ----- CARD CREATIVE NONFICTION ----- //

// ----- CARD FICTION ----- //
