/**========================================================================
 *                          CARD_STYLE1 
 *========================================================================**/

.card-universal {
  border-radius: 15px;
  background-color: $color-cream;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-tag {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: $color-orange;
  padding: 1rem 2rem;
  border-radius: 5px;
}
.card-tag--color2 {
  font-size: 3rem;
  color: white;
}

.card-number {
  text-align: center;
  font-size: 10rem;
  color: white;
}

.card-h2 {
  font-size: 5rem;
  color: white;
}

.card-text {
  font-size: 3rem;
  color: white;
}

.card-btn {
  padding: 1rem 2rem;
  background-color: white;
  text-align: center;
  font-size: 2rem;
}
