/**========================================================================
 *                          CARD APP
 *========================================================================**/
.card_app {
  background-color: $color-cream;
  @include center_flex_column;
}
.card_app-contentContainer {
  width: 85%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_app-tag {
  background-color: $color-teal;
}

.card-cubeContainer {
  padding: 2rem 0;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

.card-cube {
  position: relative;
  height: 10rem;
  width: 10rem;
  animation: cubeRotate 15s infinite linear;
  transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

  & div {
    position: absolute;
    box-sizing: border-box;
    padding: 1rem;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    border: 1px solid $color-white;
    color: $color-off-white;
  }

  &--front {
    background-color: $color-red;
    transform: translateZ(50px);
  }
  &--back {
    background-color: $color-blue;
    transform: translateZ(-50px) rotateY(180deg);
  }
  &--top {
    background-color: $color-dark-green;
    transform: rotateX(-270deg) translateY(-50px);
    transform-origin: top center;
  }
  &--bottom {
    background-color: $color-purple;
    transform: rotateX(270deg) translateY(50px);
    transform-origin: bottom center;
  }
  &--left {
    background-color: $color-black;
    transform: rotateY(270deg) translateX(-50px);
    transform-origin: center left;
  }
  &--right {
    background-color: $color-yellow;
    transform: rotateY(-270deg) translateX(50px);
    transform-origin: top right;
  }
}

@keyframes cubeRotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg) scale(1);
  }
  40% {
    transform: rotateX(360deg) rotateY(360deg) scale(1);
  }
  50% {
    transform: rotateZ(90deg) rotateX(180deg) rotateY(180deg) scale(0.2);
  }
  65% {
    transform: rotateZ(720deg) rotateX(270deg) rotateY(90deg) scale(1);
  }
  95% {
    transform: rotateX(0deg) rotateY(0deg) scale(1);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) scale(1);
  }
}
