/**========================================================================
 *                          CARD_STYLE1 
 *========================================================================**/

.gridCard-universal {
  border-radius: 15px;
  overflow: hidden;
}

.contentCard-universal {
  // height: min-content;
  //All children of main content cards have margin-top 2rem (excludes header and footer cards)
  & > * {
    margin-top: 2rem;
  }
}

// ----- CARD STYLES ----- //

//Card Smile
.card-heart {
  display: inline;
  color: $color-red;
  font-size: $fontSize-smile;

  &-h2 {
    font-size: $fontSize-smile;
    font-weight: $fontWeight--h2;
  }

  &LikeCount {
    color: $color-black;
    font-size: $fontSize-smile;
  }
}
// ----- CARD CHOCOLATE STYLES ----- //

.cardChocolate {
  &-tag {
    font-size: $fontSize--tag;
    font-weight: $fontWeight--tag;
    background-color: $color-orange;
    padding: $padding--tag;
    border-radius: $borderRadius--tag;
  }

  &-h2 {
    font-size: $fontSize--h2;
    font-weight: $fontWeight--h2;
    color: $color-white;
  }
  &-text {
    font-size: $fontSize--text;
    color: $color-white;
  }

  &-btn {
    font-size: $fontSize--btn;
    color: $color-white;
    padding: $padding--btn;
    border-radius: $borderRadius--btn;
    border: 2px solid $color-white;
  }
}

// ----- CARD CREAM STYLES ----- //

.cardCream {
  &-tag {
    font-size: $fontSize--tag;
    font-weight: $fontWeight--tag;
    background-color: $color-orange;
    padding: $padding--tag;
    border-radius: $borderRadius--tag;
  }

  &-h2 {
    font-size: $fontSize--h2;
    font-weight: $fontWeight--h2;
  }
  &-text {
    font-size: $fontSize--text;
  }

  &-btn {
    font-size: $fontSize--btn;
    padding: $padding--btn;
    border-radius: $borderRadius--btn;
    border: 2px solid $color-black;
    background-color: $color-cream;
  }

  //Form
  &-form {
    width: 100%;

    > input {
      margin-bottom: 1rem;
    }

    &--label {
      display: block;
      font-size: $fontSize--text;
    }

    &--inputName {
      border: 1px solid $color-chocolate;
      height: 2.5rem;
      width: 90%;
    }

    &--email {
      border: 1px solid $color-chocolate;
      height: 2.5rem;
      width: 90%;
    }

    &--inputMessage {
      border: 1px solid $color-chocolate;
      height: 7rem;
      width: 90%;
    }
  }
}
