/**========================================================================
 *                          INDIVIDUAL CARD STYLES
 *========================================================================**/

// ----- CARD FORM ----- //
.card-form {
  width: 100%;

  > input {
    margin-bottom: 1rem;
  }

  &--label {
    display: block;
    font-size: $fontSize--text;
  }

  &--inputName {
    border: 1px solid $color-chocolate;
    height: 2.5rem;
    width: 90%;
  }

  &--email {
    border: 1px solid $color-chocolate;
    height: 2.5rem;
    width: 90%;
  }

  &--inputMessage {
    border: 1px solid $color-chocolate;
    height: 7rem;
    width: 90%;
  }
}

// ----- CARD SMILE ----- //

.card-heart {
  display: inline;
  color: $color-red;
  font-size: $fontSize-smile;
  position: relative;

  &-h2 {
    font-size: $fontSize-smile;
    font-weight: $fontWeight--h2;
    user-select: none;
  }

  &LikeCount {
    color: $color-black;
    font-size: $fontSize-smile;
  }

  &-pop {
    font-size: $fontSize-smile;
    position: absolute;
    animation: heartPop 2s;
    scale: 0;
  }
}

// ----- CARD TIME DISPLAY ----- //

.card-shapeContainer {
  @include center_flex_row;
  height: 20rem;
  width: 100%;
  border-radius: 15px;
  background-color: $color-chocolate;
}

.card-square-left {
  position: absolute;
  left: 30%;
  width: 3rem;
  height: 3rem;
  background-color: $color-cream;
  margin: 2rem;
}
.card-square-right {
  position: absolute;
  right: 30%;
  width: 3rem;
  height: 3rem;
  background-color: $color-cream;
  margin: 2rem;
}

.card-circle {
  position: absolute;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: $color-cream;
  margin: 2rem;
}

// ----- CARD FREELANCE ----- //
.card-iconContainer {
  @include center_flex_row;
  height: 10rem;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.card-icon {
  width: 10rem;
  height: auto;
}

// ----- CARD CREATIVE NONFICTION ----- //

// ----- CARD FICTION ----- //

// ----- CARD DESIGN LINES ----- //
.borderColorOrange {
  border: 1px solid $color-orange-opaque;
}
.borderColorYellow {
  border: 1px solid $color-yellow;
}
.borderColorGreen {
  border: 1px solid $color-light-green;
}
.borderColorBlue {
  border: 1px solid $color-blue;
}
.designLine {
  &-top {
    @include designLine-top;
  }
  &-bottom {
    @include designLine-bottom;
  }
  &-right {
    @include designLine-right;
  }
  &-left {
    @include designLine-left;
  }
}
