/**========================================================================
 *                          CREATIVE NONFICTION 
 *========================================================================**/

.creativeNonfiction-landing {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url('../img/rob_hat.jpg');
  background-size: cover;
}

.title-container {
  position: absolute;
  bottom: 45%;
  left: 4rem;
}

.title-mainHead {
  color: $color-white;
  font-size: 8rem;
}
.title-authorHead {
  color: $color-white;
  font-size: 3.5rem;
}
.title-btn {
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  border-radius: 15px;
}
