/**========================================================================
 *                          TOPNAV 
 *========================================================================**/

#theGreenerSide {
  position: relative;
}

//! ---- ALL NAV & DROPDOWN CONTAINERS ---- //
//Main Container
.topNav {
  position: relative;
  width: 100%;
  height: 10vh;
  background-color: $color-black;
  color: $color-white;
  display: flex;
  justify-content: space-between;

  //!Left Wrapper Container
  &-wrapperLeft {
    display: flex;
    align-items: center;
  }

  //Hamburger Menu Container
  &-hamMenu--container {
    @include center_flex_column;
    cursor: pointer;
    margin-left: 2rem;
  }

  //!Right Wrapper Container
  &-wrapperRight {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  //Dropdown Menu Container
  &-ddMenu--container {
    z-index: 10;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 35rem;
    height: 90vh;
    border-top: 2px solid $color-gray;
    border-right: 2px solid $color-black;
    border-left: 2px solid $color-black;
    background-color: $color-black;
    transform: translateX(-100%);
    transition: all 0.3s;
    @include respond(break-850) {
      width: 100%;
    }
  }

  //Dropdown All-Links Container
  &-ddMenu--allLinksContainer {
    margin: 5rem 0;

    & > div:not(:first-child) {
      margin-top: 2rem;
    }
  }

  &-ddMenu--header {
    width: 100%;
    text-decoration: underline;
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 300;
  }
  //Dropdown Individual Link Container
  &-ddMenu--linkContainer {
    position: relative;
    height: 4.5rem;
    width: 100%;
    background-color: $color-nav-gray;
    transform: translateY(0);
    transition: transform 0.3s;
    transition-delay: 0.3s;
    @include center_flex_column;
  }

  //Dropdown Arrow Container
  &-ddMenu--ddArrowContainer {
    position: absolute;
    top: 0;
    right: 0;
    height: 2rem;
    width: 2rem;
    margin: 3px;
    @include center_flex_column;
  }

  //Categories Container
  &-ddMenu--listContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    opacity: 0;
    transition: opacity 0.3s;
    transition-delay: 0.3s;

    & > div:not(:first-child) {
      margin-top: 1rem;
    }
  }
  //Category Links Container
  &-ddMenu--listLinkContainer {
    width: 100%;
    height: min-content;
    background-color: $color-nav-gray-light;
    display: flex;
    align-items: center;
    border-radius: 2px;
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
      background-color: $color-nav-gray;
    }
  }
  //Dropdown Logout Container
  &-ddMenu--logoutContainer {
    transform: translateY(0);
    transition: transform 0.3s;
    transition-delay: 0.3s;
    width: 100%;
    @include center_flex_column;
  }
}

//! ---- TOP NAV STYLES ---- //

.topNav {
  position: relative;
  //Hamburger Menu
  &-hamMenu--line {
    height: 2px;
    width: 3.5rem;
    background-color: $color-white;
    opacity: 1;
    transform: rotate(0) translateY(0);
    transition: all 0.3s;
    &:nth-child(2) {
      margin: 1rem 0;
    }
  }

  &-title--text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
  }

  &-link {
    font-size: 2rem;
    margin-right: 2rem;
  }
}

//! ---- Dropdown Styles ---- //
.topNav-ddMenu {
  &--link {
    font-size: 2rem;
  }
  &--logoutBtn {
    font-size: 2rem;
    padding: 1rem 4rem;
    border-radius: 5px;
    background-color: $color-red;
  }
  &--ddArrow {
    font-size: 1.5rem;
    color: $color-white;
    cursor: pointer;
    transition: transform 0.3s;
  }
  &--categoryLink {
    color: $color-white;
    font-size: 1.6rem;
    margin-left: 1rem;
    padding: 0.5rem 0;
  }
}

.show {
  transform: translateX(0);
}

.position-absolute {
  position: absolute;
}

.translateY-100 {
  transform: translateY(100%);
}
.translateY-550 {
  transform: translateY(550%);
}
.translateY-800 {
  transform: translateY(800%);
}
.translateY-1600 {
  transform: translateY(1600%);
}

.opacity-1 {
  opacity: 1;
}

.hamHide {
  opacity: 0;
}

.hamSlide1 {
  transform: rotate(45deg) translateY(16px);
}
.hamSlide2 {
  transform: rotate(-45deg) translateY(-17px);
}

.rotate-180 {
  transform: rotateX(180deg);
}

.height-125vh {
  height: 125vh;
}

.creativeNonfiction-content {
  height: 100vh;
}
