<!-- TITLE MACRO -->

{% macro title(title='Panagram Article') %} {%if title == 'article1' %}
<title>Article 1 - What Is A Panagram?</title>
{% endif %} {%if title == 'article2' %}
<title>Article 2 - Panagram.work</title>
{% endif %} {%if title == 'article3' %}
<title>Article 3 - Panagram and Flow State</title>
{% endif %} {%if title == 'article4' %}
<title>Article 4 - How Does A Panagram Start</title>
{% endif %} {%if title == 'article5' %}
<title>Article 5 - Panagram Extensions - GTD</title>
{% endif %} {%if title == 'article6' %}
<title>Article 6 - Panagrams and the Classic/Romantic Split</title>
{% endif %} {% endmacro %}
